@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: fixel;
    src: url("Font/FixelDisplay-Regular.woff2") ;
  }
@font-face {
    font-family: fixelBlack;
    src: url("Font/FixelDisplay-Black.woff2");
  }
@font-face {
    font-family: fixelBold;
    src: url("Font/FixelDisplay-Bold.woff2") ;
  }
@font-face {
    font-family: fixelExBold;
    src: url("Font/FixelDisplay-ExtraBold.woff2") ;
  }
@font-face {
    font-family: fixelMedium;
    src: url("Font/FixelDisplay-Medium.woff2") ;
  }

    
  
  
  body{
        font-family: fixel;
    }
    .fixelBlack{
        font-family: fixelBlack;
    }
    .fixelBold{
        font-family: fixelBold;
    }
    .fixelExBold{
        font-family: fixelExBold;
    }
    .fixelMedium{
        font-family: fixelMedium;
    }

 

    .no-scrollbar::-webkit-scrollbar { 
      display: none; 
  } 

    