@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: fixel;
    src: url("Font/FixelDisplay-Regular.woff2") ;
  }
@font-face {
    font-family: fixelBlack;
    src: url("Font/FixelDisplay-Black.woff2");
  }
@font-face {
    font-family: fixelBold;
    src: url("Font/FixelDisplay-Bold.woff2") ;
  }
@font-face {
    font-family: fixelExBold;
    src: url("Font/FixelDisplay-ExtraBold.woff2") ;
  }
@font-face {
    font-family: fixelMedium;
    src: url("Font/FixelDisplay-Medium.woff2") ;
  }

    
  
  
  body{
        font-family: fixel;
    }
    .fixelBlack{
        font-family: fixelBlack;
    }
    .fixelBold{
        font-family: fixelBold;
    }
    .fixelExBold{
        font-family: fixelExBold;
    }
    .fixelMedium{
        font-family: fixelMedium;
    }

 

    .no-scrollbar::-webkit-scrollbar { 
      display: none; 
  } 

    
  /* images bg */

  .menimg{
    background-image: url("./Images/men.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .womenimg{
    background-image: url("./Images/women.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mainimg{
    background-image: url("./Images/main.jpg");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
  }


  /* Loading */
  .lodbox{
    max-width: 280px;
    width: 0%;
    height: 7px;
    animation: lodbox 0.5s forwards cubic-bezier(0,0,0,0);

}

@keyframes lodbox{
    0%{
        width: 1%;
    }
    100%{
        width: 100%;
    }
}


/* .Navbar{
  animation-name:Navbar;
  animation-duration: 5s;

}

@keyframes Navbar {
 0%{
width: 300px;
 } 
100%{
  width: 700px;
  transform: scale(2);
} 
} */

/* alert */

.donetimer{
  width: 0%;
  height: 4px;
  border-radius: 3rem;
  margin: 2px 0;
background-color: #71C923;
animation: donetimer 2s forwards cubic-bezier(0,0,0,0);
}
@keyframes donetimer {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.done{
  /* sticky top-3  z-20  backdrop-blur-sm*/
  position: sticky;
  top: 50px;
  z-index:20;
  
animation:  done 0.3s ;
}

@keyframes done {
  0%{
    opacity: 0;
    transform: scale(0.9);
  }
  100%{
    opacity: 100; 
    transform: scale(1);
  }
}